@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
*:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button {
  cursor: revert;
}

ol,
ul,
menu {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

input,
textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  line-break: after-white-space;
  -webkit-user-select: auto;
  user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

:root {
  font-size: 62.5%;
}

:root {
  font-size: 62.5%;
  --fnt-fam--default: "Ubuntu", sans-serif;
  --fnt-sz--default: var(--fnt-sz-m);
  --fnt-sz--copyright: var(--fnt-sz-s);
  --fnt-sz--main-heading: clamp(3rem, 2.090909090909091rem + 2.4242424242424243vw, 5rem);
  --fnt-clr--placeholder: var(--clr-blue-300);
  --fnt-clr--dark: var(--clr-black);
  --fnt-clr--light: var(--clr-white);
  --bg-clr--body: linear-gradient(var(--clr-blue-900), var(--clr-blue-300));
  --bg-clr--input: var(--clr-blue-600);
  --border-radius: calc(var(--size-1) * 0.4);
  --pad--input: var(--size-1);
  --pad--buttons: var(--size-1);
  --pad--information: var(--size-2);
  --pad--result: var(--size-1);
  --gap--form: var(--size-2);
  --gap--information: var(--size-2);
  --fnt-sz-xl: 5rem;
  --fnt-sz-l: 3rem;
  --fnt-sz-m: 1.6rem;
  --fnt-sz-s: 1.3rem;
  --fnt-wt-s: 300;
  --fnt-wt-m: 400;
  --fnt-wt-l: 700;
  --size-1: 1rem;
  --size-2: 2rem;
  --size-3: 3rem;
  --size-4: 4rem;
  --clr-blue-900: hsl(196deg, 64%, 24%);
  --clr-blue-700: hsl(193deg, 82%, 31%);
  --clr-blue-600: hsl(192deg, 91%, 36%);
  --clr-blue-300: hsl(187deg, 92%, 69%);
  --clr-blue-200: hsl(186deg, 94%, 82%);
  --clr-green-500: hsl(160deg, 84%, 39%);
  --clr-green-700: hsl(163deg, 94%, 24%);
  --clr-red-400: hsl(351deg, 95%, 71%);
  --clr-red-700: hsl(345deg, 83%, 41%);
  --clr-white: hsl(0deg, 0%, 98%);
  --clr-black: hsl(240deg, 5%, 26%);
}

body {
  font-family: var(--fnt-fam--default);
  font-size: var(--fnt-sz--default);
  color: var(--fnt-clr--light);
  background: var(--bg-clr--body);
  min-height: 100vh;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
}

.header,
.footer {
  padding-block: var(--size-4);
}

main {
  display: grid;
  place-items: center;
  width: 100%;
  padding-block: var(--size-3);
}

section {
  display: grid;
  gap: var(--size-2);
  width: min(85vw, 111rem);
  padding: var(--size-2);
  background: var(--clr-blue-900);
  border-radius: var(--border-radius);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
@media only screen and (min-width: 64em) {
  section {
    grid-template-columns: 2fr 1fr;
  }
}

.heading--main {
  font-size: var(--fnt-sz--main-heading);
  font-weight: var(--fnt-wt-l);
  letter-spacing: 0.1rem;
  text-align: center;
}
.heading--info {
  font-size: var(--size-2);
  font-weight: var(--fnt-wt-l);
  letter-spacing: 0.2rem;
}

.data-form {
  display: grid;
  gap: var(--gap--form);
  width: 100%;
}
.data-form input {
  border: 2px solid var(--clr-blue-600);
  border-radius: var(--border-radius);
  padding: var(--pad--input);
  background: var(--bg-clr--input);
}
.data-form input::placeholder {
  color: var(--fnt-clr--placeholder);
}
.data-form input:focus {
  border-color: var(--clr-blue-200);
}
.data-form:invalid [data-btn-calculate] {
  pointer-events: none;
  opacity: 0.3;
}
.data-form__buttons {
  display: flex;
  gap: var(--gap--form);
}

.btn {
  cursor: pointer;
  transition: 200ms ease-in-out;
  height: 100%;
  padding: var(--pad--buttons);
}
.btn--calculate {
  display: block;
  width: 100%;
  text-align: center;
  background: var(--clr-green-500);
  border-radius: var(--border-radius);
  color: var(--clr-white);
  text-transform: uppercase;
  font-weight: var(--fnt-wt-s);
}
.btn--calculate:hover {
  background: var(--clr-green-700);
}
.btn--copy {
  display: grid;
  place-items: center;
  border-radius: 999rem;
  padding: 0.5rem;
}
.btn--copy:hover {
  background: var(--clr-blue-200);
  color: var(--fnt-clr--dark);
}
.btn--reset {
  border-radius: var(--border-radius);
  background: var(--clr-red-400);
}
.btn--reset:hover {
  background: var(--clr-red-700);
}

.information {
  display: grid;
  gap: var(--gap--information);
  padding: var(--pad--information);
  background: var(--clr-blue-200);
  border-radius: var(--border-radius);
  color: var(--fnt-clr--dark);
}
.information__text {
  line-height: 1.5;
}

.copyright {
  color: var(--clr-black);
  font-size: var(--fnt-sz--copyright);
  letter-spacing: 0.075rem;
  text-align: center;
}

.data-wrap {
  display: grid;
  gap: var(--gap--form);
  height: max-content;
}

.result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--clr-blue-600);
  padding: var(--pad--result);
  border-radius: var(--border-radius);
}

.icon--clipboard {
  width: calc(var(--size-2) * 1.25);
  aspect-ratio: 1;
  stroke-width: 1.8;
}
.icon--reload {
  width: var(--size-2);
  aspect-ratio: 1;
  stroke-width: 1.8;
}
.icon--footer {
  width: 3rem;
  aspect-ratio: 1;
  transition: 300ms ease-in-out;
}
.icon--footer:hover {
  scale: 1.25;
}

.footer {
  display: grid;
  place-items: center;
  gap: var(--size-2);
}
.footer__socials {
  display: flex;
  gap: var(--size-2);
  color: var(--clr-black);
}/*# sourceMappingURL=styles.css.map */