@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
*:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button {
  cursor: revert;
}

ol,
ul,
menu {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

input,
textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  line-break: after-white-space;
  -webkit-user-select: auto;
  user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

:root {
  font-size: 62.5%;
}

:root {
  font-size: 62.5%;
  --fnt-fam-default: "Ubuntu", sans-serif;
  --fnt-sz--default: 1.6rem;
  --fnt-sz--main-heading: 3rem;
  --fnt-sz--copyright: 1.3rem;
  --body-bg--default: var(--clr-blue--light);
  --clr-blue--light: hsl(196deg, 64%, 24%);
}

body {
  font-family: var(--fnt-fam-default);
  font-size: var(--fnt-sz--default);
  color: hsl(0deg, 0%, 98%);
  background: var(--body-bg--default);
  min-height: 100vh;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
}

header,
footer {
  padding-block: 4rem;
}

main {
  display: grid;
  place-items: center;
  width: 100%;
  padding-block: 3rem;
}

section {
  display: grid;
  gap: 4rem;
  width: min(85vw, 111rem);
  padding-inline: 1rem;
}
@media only screen and (min-width: 64em) {
  section {
    grid-template-columns: 2fr 1fr;
  }
}

.heading--main {
  font-size: var(--fnt-sz--main-heading);
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-align: center;
}

.data-form {
  display: grid;
  gap: 2rem;
  width: 100%;
}
.data-form input {
  border: 2px solid hsl(192deg, 91%, 36%);
  border-radius: 0.4rem;
  padding: 1rem;
  background: hsl(192deg, 91%, 36%);
}
.data-form input::placeholder {
  color: hsl(187deg, 92%, 69%);
}

.btn {
  cursor: pointer;
  transition: 200ms ease-in-out;
}
.btn--calculate {
  display: block;
  width: 100%;
  text-align: center;
  padding-block: 1rem;
  background: hsl(160deg, 84%, 39%);
  border-radius: 0.4rem;
  color: hsl(0deg, 0%, 98%);
  text-transform: uppercase;
  font-weight: 300;
}
.btn--calculate:hover {
  background: hsl(163deg, 94%, 24%);
}
.btn--copy {
  display: grid;
  place-items: center;
  padding: 0.5rem;
  border-radius: 999rem;
}
.btn--copy:hover {
  background: hsl(186deg, 94%, 82%);
  color: hsl(240deg, 5%, 26%);
}

.information {
  display: grid;
  gap: 2rem;
  padding: 2rem;
  background: hsl(201deg, 94%, 86%);
  border-radius: 0.4rem;
  color: hsl(240deg, 5%, 26%);
}
.information h2 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}
.information p {
  line-height: 1.5;
}

.copyright {
  font-size: var(--fnt-sz--copyright);
  letter-spacing: 0.075rem;
  text-align: center;
}

.data-wrap {
  display: grid;
  gap: 3rem;
}

.result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: hsl(192deg, 91%, 36%);
  padding: 1rem;
  border-radius: 0.4rem;
}

.icon-clipboard {
  width: 2.5rem;
  aspect-ratio: 1;
}/*# sourceMappingURL=styles.css.map */