@use '../abstracts/' as a;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  font-size: 62.5%;

  // ##### Fonts
  --fnt-fam-default: 'Ubuntu', sans-serif;
  --fnt-sz--default: 1.6rem;
  --fnt-sz--main-heading: 3rem;
  --fnt-sz--copyright: 1.3rem;

  // ##### Colour
  --body-bg--default: var(--clr-blue--light);
  --clr-blue--light: #{a.$cyan-900};
}

body {
  font-family: var(--fnt-fam-default);
  font-size: var(--fnt-sz--default);
  color: #{a.$neutral-50};
  background: var(--body-bg--default);
  min-height: 100vh;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
}

header,
footer {
  padding-block: 4rem;
}

main {
  display: grid;
  place-items: center;
  width: 100%;
  padding-block: 3rem;
}

section {
  display: grid;
  gap: 4rem;
  width: min(85vw, 111rem);
  padding-inline: 1rem;

  @include a.breakpoint(lg, min) {
    grid-template-columns: 2fr 1fr;
  }
}

.heading {
  &--main {
    font-size: var(--fnt-sz--main-heading);
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-align: center;
  }
}

.data-form {
  display: grid;
  gap: 2rem;
  width: 100%;

  & input {
    border: 2px solid #{a.$cyan-600};
    border-radius: 0.4rem;
    padding: 1rem;
    background: #{a.$cyan-600};

    &::placeholder {
      color: #{a.$cyan-300};
    }
  }
}

.btn {
  cursor: pointer;
  transition: 200ms ease-in-out;

  &--calculate {
    display: block;
    width: 100%;
    text-align: center;
    padding-block: 1rem;
    background: #{a.$emerald-500};
    border-radius: 0.4rem;
    color: #{a.$neutral-50};
    text-transform: uppercase;
    font-weight: 300;
    &:hover {
      background: #{a.$emerald-700};
    }
  }

  &--copy {
    display: grid;
    place-items: center;
    padding: 0.5rem;
    border-radius: 999rem;

    &:hover {
      background: #{a.$cyan-200};
      color: #{a.$zinc-700};
    }
  }
}

.information {
  display: grid;
  gap: 2rem;
  padding: 2rem;
  background: #{a.$sky-200};
  border-radius: 0.4rem;
  color: #{a.$zinc-700};

  & h2 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
  }

  & p {
    line-height: 1.5;
  }
}

.copyright {
  font-size: var(--fnt-sz--copyright);
  letter-spacing: 0.075rem;
  text-align: center;
}

.data-wrap {
  display: grid;
  gap: 3rem;
}

.result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #{a.$cyan-600};
  padding: 1rem;
  border-radius: 0.4rem;
}

.icon-clipboard {
  width: 2.5rem;
  aspect-ratio: 1;
}
